@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.page-wrapper {
		@apply w-full max-w-2xl flex-1 self-center px-8 pb-12 lg:max-w-3xl;
	}

	.page-heading {
		@apply font-display text-hero mb-[0.4em] text-center text-6xl uppercase;
	}
}

html,
body,
#__next {
	@apply antialiased;
	@apply scroll-smooth;
	@apply h-full;
}

input::-webkit-input-placeholder {
	@apply text-slate-500;
}

.markdown p {
	@apply mb-4;
}

.markdown a {
	@apply text-hero;
}

.markdown a:hover {
	@apply underline;
}

.markdown code {
	@apply text-hero border-hero bg-light inline-block rounded border px-[4px] text-sm;
}

.markdown pre {
	@apply mb-4 whitespace-pre-wrap bg-slate-50;
}

.markdown pre code {
	@apply p-4 text-inherit;
}
